// font family
$bodyfont: 'Jost', sans-serif;
$headingfont: 'Bebas Neue', cursive;

// Colors variable
$bg-dark: #010103;
$pera-color: #a7a7a7;
$pera-color-2: #6c6c6c;
$white: #ffffff;
$black: #000;
$grey:#F4F1EE;
$grey-dark:#808080;
$theme-color: #C7A17A;
$theme-color-2: #80A093;
$border-color: #32323D;
$border-color-2: #E2DFDD;